.header {
  width: 100%;
  padding: 20px;
  background: #18a076;
  color: #fff;
}

.wrapper {
  display: flex;
}

.sidebar {
  margin-top: 20px;
}

.content {
  padding: 10px;
  padding-top: 20px;
  padding-left: 40px;
}